
Topics:

* functions
* lambda expressions
* map and filter
* files
* Exception Handling
* Classes and Objects
* Arguments Parser
* Modules
* Generators
* Named Tuples
* Regular expression

### functions

In [25]:
def my_function():
    print("This is my function")

In [26]:
my_function()

This is my function

In [27]:
def add(a, b):
    return a+b

In [28]:
add(20,30)

50

In [29]:
def mult(a, b, c):
    return a*b*c

In [6]:
mult(20,30,40)

24000

In [30]:
def give_possitive_num(n):
    if n >= 0:
        return n
    else:
        return -n

In [31]:
give_possitive_num(10)

10

In [32]:
give_possitive_num(-40)

40

### lambda expressions

In [33]:
d = lambda x: x * 2

In [34]:
d(4)

8

In [35]:
# above function same as below function
def double(x):
    return x * 2

In [36]:
double(4)

8

In [44]:
add = lambda x, y : x + y

In [45]:
add(2, 3)

5

In [46]:
def add_func(x, y):
    return(x+y)

In [47]:
add_func(2,3)

5

### filter()

In [2]:
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

In [3]:
new_list = filter(lambda x: x%2 == 0 , my_list)

In [39]:
print(list(new_list))

[4, 6, 8, 12]

In [4]:
def even_num(x):
    return x%2 == 0

In [5]:
even_num_list = filter(even_num , my_list)

In [8]:
print(list(even_num_list))

[4, 6, 8, 12]

In [1]:
dict1 = {"Name": "Sravya", "Age": 25, "Sex": "Female"}
dict2 = {"Occupation": "Student", "Weight": 68}
list_dict = [dict1, dict2]
print(list_dict)

[{'Name': 'Sravya', 'Age': 25, 'Sex': 'Female'}, {'Occupation': 'Student', 'Weight': 68}]

In [2]:
listOfDictFilter = list(filter(lambda x: x.values(), list_dict))
print(listOfDictFilter)

[{'Name': 'Sravya', 'Age': 25, 'Sex': 'Female'}, {'Occupation': 'Student', 'Weight': 68}]

### map() function

In [50]:
new_list2 = map(lambda x: x * 2 , my_list)

In [52]:
print(list(new_list2))

[2, 10, 8, 12, 16, 22, 6, 24]

In [53]:
def mult(x):
    return(x*x)

In [54]:
new_list3 = map(mult , my_list)

In [58]:
print(list(new_list3))

[2, 10, 8, 12, 16, 22, 6, 24]

In [59]:
new_list3 = map(double , my_list)

In [61]:
print(list(new_list3))

[2, 10, 8, 12, 16, 22, 6, 24]

In [64]:
list_a = [1, 2, 3]
list_b = [10, 20, 30]

In [65]:
list(map(lambda x, y: x + y, list_a, list_b))

[11, 22, 33]

In [66]:
def add_list(x,y):
    return(x+y)

In [67]:
list(map(add_list, list_a, list_b))

[11, 22, 33]

### Files

In [3]:
#Creating a new file from program
f = open('my_file2.txt','w')
f.write('my file')
f.close()
#'my_file.txt' will be there in your working dir

In [ ]:
# Open an already existing file
f2 = open("python_wiki.txt","r")

In [41]:
# Read the entire context
print(f2.read())

Python is a widely used high-level programming language for general-purpose programming.
created by Guido van Rossum and first released in 1991.
Python features a dynamic type system and automatic memory management and
supports multiple programming paradigms, including object-oriented, imperative, functional programming, and procedural styles. It has a large and comprehensive standard library.

In [50]:
f2 = open("python_wiki.txt","r")

In [51]:
#readline() reads only one line
print(f2.readlines())

['Python is a widely used high-level programming language for general-purpose programming.\n', 'created by Guido van Rossum and first released in 1991.\n', 'Python features a dynamic type system and automatic memory management and\n', 'supports multiple programming paradigms, including object-oriented, imperative, functional programming, and procedural styles. It has a large and comprehensive standard library.\n', '\n']

In [64]:
print(f2.readline())

Python features a dynamic type system and automatic memory management and

In [48]:
#Read and append to list
f = open("python_wiki.txt","r")
myList = []

for line in f:
  myList.append(line)

print(myList)

['Python is a widely used high-level programming language for general-purpose programming.\n', 'created by Guido van Rossum and first released in 1991.\n', 'Python features a dynamic type system and automatic memory management and\n', 'supports multiple programming paradigms, including object-oriented, imperative, functional programming, and procedural styles. It has a large and comprehensive standard library.\n', '\n']

### Exception Handling

In [52]:
#without exception handling
n = int(input("Please enter a number: "))
#Please enter a number: 23.5

Please enter a number: 23.5

ValueError: invalid literal for int() with base 10: '23.5'

In [53]:
#exception handling
while True:
    try:
        n = input("Please enter an integer: ")
        n = int(n)
        break
    except ValueError:
        print("No valid integer! Please try again ...")
print("Great, you successfully entered an integer!")
#Please enter a number: 23.5
#Please enter a number: 23

Please enter an integer: 23.5
No valid integer! Please try again ...
Please enter an integer: 23
Great, you successfully entered an integer!

In [54]:
try:
    fh = open("testfile", "r")
    fh.write("This is my test file for exception handling!!")
except IOError:
    print("Error: can\'t find file or read data")
else:
    print("Written content in the file successfully")

Error: can't find file or read data

In [55]:
try:
    fh = open("testfile", "w")
    fh.write("This is my test file for exception handling!!")
except IOError:
    print("Error: can\'t find file or read data")
else:
    print("Written content in the file successfully")
    fh.close()

Written content in the file successfully

In [56]:
try:
    fh = open("testfile", "w")
    #fh = open("testfile", "r")
    try:
        fh.write("This is my test file for exception handling!!")
    finally:
        print("Going to close the file")
        fh.close()
except IOError:
    print("Error: can\'t find file or read data")

Going to close the file

### Classes and Objects

In [44]:
# Create a class
class my_class:
    my_variable = "This is my variable"
    def my_function(self):
        print("This is my function")

In [45]:
#Create a object
obj1 = my_class()

In [46]:
#Access properties of class
obj1.my_variable

'This is my variable'

In [47]:
obj1.my_function()

This is my function

In [48]:
obj2 = my_class()
obj2.my_variable = "this is my another variable "
print(obj2.my_variable)

this is my another variable

In [49]:
obj2.my_function()

This is my function

In [57]:
class vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

In [59]:
car1 = vehicle()
car1.name = 'Fer'
car1.color= 'red'
car1.value = 60000

print(car1.description())

Fer is a red car worth $60000.00.

In [60]:
car2 = vehicle()
car1.name = 'blue'
car1.color= 'red'
car1.value = 100000

print(car2.description())

 is a  car worth $100.00.

In [53]:
class arithmetic_operations:
    def __init__(self):
        print "constructor got called"
    def add(self,a,b):
        return a+b
    def sub(self,a,b):
        return a-b

In [54]:
ob1 = arithmetic_operations()

constructor got called

In [55]:
ob1.add(10,20)

30

In [56]:
ob1.sub(20,40)

-20

In [1]:
#Inheritance
class Parent:        
    parentAttr = 100
    def __init__(self):
        print("Calling parent constructor")
    def parentMethod(self):
        print('Calling parent method')
    
    def setAttr(self, attr):
        Parent.parentAttr = attr
    
    def getAttr(self):
        print("Parent attribute :", Parent.parentAttr)

class Child(Parent): 
    def __init__(self):
        print("Calling child constructor")
    
    def childMethod(self):
        print('Calling child method')

In [6]:
c = Child()

Calling child constructor

In [7]:
c.childMethod()

Calling child method

In [8]:
c.parentMethod()

Calling parent method

In [58]:
p = Parent()
p.parentMethod()
c = Child()          
c.childMethod()     
c.parentMethod()    
c.setAttr(200)      
c.getAttr()

Calling parent constructor
Calling parent method
Calling child constructor
Calling child method
Calling parent method
Parent attribute : 200

### Modules

In [69]:
import math

In [70]:
print(math.pi)

3.141592653589793

In [74]:
print(math.sqrt(144))

12.0

In [75]:
print(math.sqrt(16))

4.0

In [61]:
#save below code in arithmetic_operations.py file

def add(a,b):
    print "called adding"
    return a+b

def sub(a,b):
    print "called sub"
    return a-b
def mult(a,b):
    print"mult called"
    return a*b

In [62]:
#arithmetic_operations.py 
import arithmetic_operations as ar

In [63]:
add_result = ar.add(10,29)

called adding

In [64]:
add_result

39

In [65]:
sub_result = ar.sub(40,30)

called sub

In [66]:
sub_result

10

### Generators

In [46]:
my_nums_l_c = [x+1 for x in [1,2,3,4,5]]

In [47]:
my_nums_l_c

[2, 3, 4, 5, 6]

In [64]:
def square_numbers_yield(nums):
    for i in nums:
        yield (i+1)

In [75]:
my_nums_yield = square_numbers_yield([1,3,5,7,9])

In [76]:
my_nums_yield

In [77]:
next(my_nums_yield)

2

In [68]:
next(my_nums_yield)

4

In [69]:
next(my_nums_yield)

6

In [70]:
next(my_nums_yield)

8

In [78]:
for i in my_nums_yield:
    print(i)

4
6
8
10

In [80]:
my_nums_yield_c = (x*x for x in [1,2,3,4,5])

In [81]:
my_nums_yield_c

In [82]:
for i in my_nums_yield_c:
    print(i)

1
4
9
16
25

### Named Tuples

In [1]:
from collections import namedtuple

In [2]:
Color = namedtuple('Color', ['red', 'green', 'blue'])

In [4]:
color = Color(blue=55,green=155,red=255)

In [5]:
color.blue

55

In [6]:
color.green

155

### Regular expression
Regular expression is a sequence of character(s) mainly used to find and replace patterns in a string or file.
The ‘re’ package provides multiple methods to perform queries on an input string. Here are the most commonly used methods:

re.match()
re.search()
re.findall()
re.split()
re.sub()
re.compile()
re.match(pattern, string):

In [85]:
import re
result = re.match(r'AR', 'AR Aribah Analytics AR')
print(result)

<_sre.SRE_Match object; span=(0, 2), match='AR'>

In [86]:
result = re.match(r'AR', 'AR Aribah Analytics AR')
print(result.group())
print(result.start())
print(result.end())

AR
0
2

In [52]:
result = re.match(r'Analytics', 'AR Aribah Analytics AR')
print(result)

None

0
2

2)re.search(pattern, string):
It is similar to match() but it doesn’t restrict us to find matches at the beginning of the string only. Unlike previous method, here searching for pattern ‘Analytics’ will return a match.

In [55]:
result = re.search(r'Analytics', 'AR Aribah Analytics AR')
print(result.group())

Analytics

3)re.findall (pattern, string):

In [56]:
result = re.findall(r'AR', 'AR Aribah Analytics AR')
print(result)

['AR', 'AR']

4)re.split(pattern, string):

This methods helps to split string by the occurrences of given pattern.

In [57]:
result=re.split(r'y','Analytics')
result

['Anal', 'tics']

In [58]:
result=re.split(r'i','Aribah Analytics')
print(result)

['Ar', 'bah Analyt', 'cs']

In [74]:
result=re.split(r'i','Aribah Analytics',maxsplit=1)
result

['Ar', 'bah Analytics']

5)re.sub(pattern, repl, string):

It helps to search a pattern and replace with a new sub string. If the pattern is not found, string is returned unchanged.

In [60]:
result=re.sub(r'India','the World','apache is largest Analytics community of India')
result

'apache is largest Analytics community of the World'

6)re.compile(pattern, repl, string):
We can combine a regular expression pattern into pattern objects, which can be used for pattern matching. It also helps to search a pattern again without rewriting it.

In [65]:
import re
pattern=re.compile('AR')
result=pattern.findall('AR Aribah Analytics AR')
print(result)

['AR', 'AR']

In [66]:
result2=pattern.findall('AR is largest analytics community of India')

In [67]:
print(result2)

['AR']

In [87]:
str = 'an example word:cata!!'
match = re.search(r'word:\w\w\w', str)

if match:                      
    print('found', match.group()) ## 'found word:cat')
else:
    print('did not find')

found word:cat

In [88]:
str = 'an example word:cat!!'
match = re.search(r'word:\w\w\w', str)

if match:                      
    print('found', match.group()) ## 'found word:cat'
else:
    print('did not find')

found word:cat

In [89]:
match = re.search(r'iii', 'piiig')
print(match)
#print(match.group())

<_sre.SRE_Match object; span=(1, 4), match='iii'>

In [14]:
## . = any char but \n
match = re.search(r'..g', 'phhhg')
print(match)
print(match.group())

<_sre.SRE_Match object at 0x105f314a8>
hhg

In [91]:
## \d = digit char, \w = word char

match = re.search(r'\d\d\d\d\w\w\w', 'p1235gabc')
print(match)
print(match.group())

<_sre.SRE_Match object; span=(1, 8), match='1235gab'>
1235gab

In [26]:
match = re.search(r'\w\w\w\d', '@@abcd12!!')
print match
print(match.group())

<_sre.SRE_Match object at 0x105f31a58>
bcd1

+ -- 1 or more occurrences of the pattern to its left, e.g. 'i+' = one or more i's
* -- 0 or more occurrences of the pattern to its left
? -- match 0 or 1 occurrences of the pattern to its left

In [92]:
match = re.search(r'pi+', 'piiig')
print(match)
print(match.group())

<_sre.SRE_Match object; span=(0, 4), match='piii'>
piii

In [96]:
match = re.search(r'i+', 'piigiiii')
print(match)
print(match.group())

<_sre.SRE_Match object; span=(1, 3), match='ii'>
ii

In [27]:
str = 'purple alice-b@google.com monkey dishwasher'
match = re.search(r'\w+@\w+', str)
if match:
    print(match.group())

b@google

In [161]:
def front_back(a, b):
    x = int(len(a))
    x1 = int(len(a)/2 )
    print(x1)
    y = int(len(b))
    y1 = int(len(b)/2) 
    print(y1)
    if x%2 == 0:
        k = a[0:x1]
        l = a[x1:]
    else:
        k = a[0:x1+1]
        l = a[x1+1:]
        
    if y%2 == 0:
        m = b[0:y1]
        n = b[y1:]
    else:
        m = b[0:y1+1]
        n = b[y1+1:]
    t = k + m + l + n
    
    return t

In [163]:
a = "abcdghi"
b = "defjklm"
front_back(a, b)

3
3

'abcddefjghiklm'

#####